@model IEnumerable<TravelExpertsData.Booking>

@{
    ViewData["Title"] = "Booking";
    int Price = ViewBag.Price;
    string formattedPrice = Price.ToString("C");
}

<h1 class="mt-5 protest-riot-regular">My Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Booking No @*BookingNo*@
            </th>
            <th>
                Number of Travelers @*TravelerCount*@
            </th>
            <th>
                Trip Type @*TripTypeId*@
            </th>
            <th>
                Booking Date @*BookingDate*@
            </th>
            <th>
                Package @*PackageId displayed as Package Name*@
            </th>
            <th>
                Details @*Detail Button*@
            </th>
            <th>
                Remove Booking @*Remove Booking button*@
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelerCount)
                </td>
                <td>
                    @if (item.TripTypeId == "B")
                    {
                        <text>Business</text>
                    }
                    else if (item.TripTypeId == "L")
                    {
                        <text>Leisure</text>
                    }
                    else if (item.TripTypeId == "G")
                    {
                        <text>Group</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                    @* @Html.DisplayFor(modelItem => item.BookingDate.Value.ToShortDateString()) *@
                </td>
                <td>
                    @if (item.PackageId == null)
                    {
                        <text>No Package.</text>
                    }
                    else
                    {
                        @if (item.PackageId == 1)
                        {
                            <text>Carribbean New Year</text>
                        }
                        else if (item.PackageId == 2)
                        {
                            <text>Polynesian Paradise</text>
                        }
                        else if (item.PackageId == 3)
                        {
                            <text>Asian Expedition</text>
                        }
                        else if (item.PackageId == 4)
                        {
                            <text>European Vacation</text>
                        }
                    }
                    
                </td>
                <td> 
                    <form action="@Url.Action("Details", "TravelProduct")" method="post">
                        <input type="hidden" name="BookingId" value="@item.BookingId">
                        <button type="submit" class="btn btn-primary pkg-button">Details</button>
                    </form>
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("Delete", new { id = item.BookingId })'" class="btn btn-danger pkg-button">
                        Remove Booking
                    </button>
                </td>
               
                
            </tr>
        }
        <div>
            Total Price: @formattedPrice
        </div>
        
    </tbody>
</table>
