@model TravelExpertsData.Booking

@{
    ViewData["Title"] = "Book Package";
    
}
<style>
    .price-container {
        display: flex; /* Use flexbox layout */
        align-items: center; /* Align items vertically center */
    }

    .price {
        font-size: 18px; /* Adjust font size as needed */
        margin-right: 5px; /* Add some space between Price and Per Person */
    }

    .per-person {
        font-size: 10px; /* Adjust font size as needed */
    }
</style>
<div class="container">
    <h1 class="mt-5 protest-riot-regular">Book Package</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p></p>
            <form asp-action="BookPackage" method="post">
                <input type="hidden" asp-for="BookingDate" value="@ViewBag.BookingDate" />
                <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId" />
                <input type="hidden" asp-for="BookingNo" value="@ViewBag.RandomGen" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="PackageId" class="control-label">Package</label>
                    <select asp-for="PackageId" asp-items="@ViewBag.Packages" class="form-control"></select>
                    <span asp-validation-for="PackageId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="TravelerCount" class="control-label">Number of Travellers</label>
                    <select asp-for="TravelerCount" class="form-control">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="TravelerCount" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="TripTypeId" class="control-label">Trip Type</label>
                    <select asp-for="TripTypeId" class="form-control">
                        <option value="B">Business</option>
                        <option value="G">Group</option>
                        <option value="L">Leisure</option>
                    </select>
                    <span asp-validation-for="TripTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Book Package" class="btn btn-primary pkg-button" />
                </div>
            </form>
        </div>
        
        <div class="col-md-8 col-sm-12">
            <!-- Display package information here -->
            <table class="table table-responsive table-striped table-hover table-sm caption-top">
                <caption>*All Prices are Per Person</caption>
                <thead>
                    <tr class="table-primary">
                        <th>Package</th>
                        <th>Destination</th>
                        <th>Description</th>
                        <th>
                            <div class="price-container">
                                <div class="price">
                                    Price
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="price-container">
                                <div class="price">
                                    Commission
                                </div>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>Caribbean New Year</td>
                        <td>Caribbean Islands</td>
                        <td>Cruise the Caribbean & Celebrate the New Year.</td>
                        <td>$4800</td>
                        <td>$400</td>
                        
                    </tr>
                    <tr>
                        <td>Polynesian Paradise</td>
                        <td>Polynesian Islands</td>
                        <td>8 Day All Inclusive Hawaiian Vacation</td>
                        <td>$3000</td>
                        <td>$310</td>
                       
                    </tr>
                    <tr>
                        <td>Asian Expedition</td>
                        <td>Thailand, Korea, Japan</td>
                        <td>Airfare, Hotel, and Eco Tour.</td>
                        <td>$2800</td>
                        <td>$300</td>
                        
                    </tr>
                    <tr>
                        <td>European Vacation</td>
                        <td>France, Italy, Spain</td>
                        <td>Euro Tour with Rail Pass and Travel Insurance.</td>
                        <td>$3000</td>
                        <td>$280</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>