@model IEnumerable<TravelExpertsData.Booking>

@{
    ViewData["Title"] = "Booking";
    int Price = ViewBag.Price;
    string formattedPrice = Price.ToString("C");
}

<h1>My Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelerCount)
                </td>
                <td>
                    @if (item.TripTypeId == "B")
                    {
                        <text>Business</text>
                    }
                    else if (item.TripTypeId == "L")
                    {
                        <text>Leisure</text>
                    }
                    else if (item.TripTypeId == "G")
                    {
                        <text>Group</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                    @* @Html.DisplayFor(modelItem => item.BookingDate.Value.ToShortDateString()) *@
                </td>
                <td>
                    <form action="@Url.Action("Details", "TravelProduct")" method="post">
                        <input type="hidden" name="BookingId" value="@item.BookingId">
                        <button type="submit">Details</button>
                    </form>
                </td>
                
            </tr>
        }
        <div>
            Total Price: @formattedPrice
        </div>
        
    </tbody>
</table>
